# Test

In [1]:
import sys
sys.executable

'/Users/zx/opt/miniconda3/envs/liopard/bin/python'

In [2]:
%load_ext autoreload
%autoreload 2

In [3]:
import numpy as np
import liopard as liop
import pandas as pd

In [4]:
name = np.array(['Tom', 'Jerry', 'John'])
movie = np.array(['Sonic', 'Accountant', 'Doctor Strange'])
paid = np.array([True, False, True])
cost = np.array([20, 5, 80])

data = {'name': name, 'movie': movie, 'paid': paid, 'cost': cost}

df = liop.DataFrame(data)
df_pandas = pd.DataFrame(data)

In [5]:
df

In [6]:
df_pandas

    name           movie   paid  cost
0    Tom           Sonic   True    20
1  Jerry      Accountant  False     5
2   John  Doctor Strange   True    80

In [34]:
#common type errors
d = np.array([[1,2],[3,4]])
liop.DataFrame(d)

TypeError: `data` must be a dictionary

In [35]:
#length error
arr1 = np.array([1,2])
arr2 = np.array([3,4,5])
d = {'a':arr1, 'b':arr2 }
liop.DataFrame(d)

ValueError: All arrays must have the same length