# Test

In [85]:
import sys
sys.executable

'/Users/zx/opt/miniconda3/envs/liopard/bin/python'

In [86]:
%load_ext autoreload
%autoreload 2

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [87]:
import numpy as np
import liopard as liop
import pandas as pd

In [88]:
name = np.array(['Tom', 'Jerry', 'John'])
movie = np.array(['Sonic', 'Accountant', 'Doctor Strange'])
paid = np.array([True, False, True])
cost = np.array([20, 5, 80])

data = {'name': name, 'movie': movie, 'paid': paid, 'cost': cost}

df = liop.DataFrame(data)
df_pandas = pd.DataFrame(data)

In [89]:
df

In [90]:
df_pandas

    name           movie   paid  cost
0    Tom           Sonic   True    20
1  Jerry      Accountant  False     5
2   John  Doctor Strange   True    80

In [91]:
#common type errors
# d = np.array([[1,2],[3,4]])
# liop.DataFrame(d)

In [92]:
#length error
# arr1 = np.array([1,2])
# arr2 = np.array([3,4,5])
# d = {'a':arr1, 'b':arr2 }
# liop.DataFrame(d)

In [93]:
len(df)

3

In [94]:
df.columns

['name', 'movie', 'paid', 'cost']

In [95]:
df.columns = ['a', 'b', 'c', 'd']

In [96]:
df.shape

(3, 4)

In [97]:
df._repr_html_()

'<table><thead><tr><th></th><th>a         </th><th>b         </th><th>c         </th><th>d         </th></tr></thead><tbody><tr><td><strong>0</strong></td><td>Tom       </td><td>Sonic     </td><td>True</td><td>        20</td></tr><tr><td><strong>1</strong></td><td>Jerry     </td><td>Accountant</td><td>False</td><td>         5</td></tr><tr><td><strong>2</strong></td><td>John      </td><td>Doctor Strange</td><td>True</td><td>        80</td></tr></tbody></table>'

In [102]:
df.dtypes