# Test

In [1]:
import sys
sys.executable

'/Users/zx/opt/miniconda3/envs/liopard/bin/python'

In [2]:
%load_ext autoreload
%autoreload 2

In [3]:
import numpy as np
import liopard as liop
import pandas as pd

In [4]:
name = np.array(['Tom', 'Jerry', 'John'])
movie = np.array(['Sonic', 'Accountant', 'Doctor Strange'])
paid = np.array([True, False, True])
cost = np.array([20, 5, 80])

data = {'name': name, 'movie': movie, 'paid': paid, 'cost': cost}

df = liop.DataFrame(data)
df_pandas = pd.DataFrame(data)

In [5]:
df

In [6]:
df_pandas

    name           movie   paid  cost
0    Tom           Sonic   True    20
1  Jerry      Accountant  False     5
2   John  Doctor Strange   True    80

In [7]:
#common type errors
# d = np.array([[1,2],[3,4]])
# liop.DataFrame(d)

In [8]:
#length error
# arr1 = np.array([1,2])
# arr2 = np.array([3,4,5])
# d = {'a':arr1, 'b':arr2 }
# liop.DataFrame(d)

In [9]:
len(df)

3

In [10]:
df.columns

['name', 'movie', 'paid', 'cost']

In [11]:
#df.columns = ['a', 'b', 'c', 'd']

In [12]:
df.shape

(3, 4)

In [13]:
df._repr_html_()

'<table><thead><tr><th></th><th>name      </th><th>movie     </th><th>paid      </th><th>cost      </th></tr></thead><tbody><tr><td><strong>0</strong></td><td>Tom       </td><td>Sonic     </td><td>True</td><td>        20</td></tr><tr><td><strong>1</strong></td><td>Jerry     </td><td>Accountant</td><td>False</td><td>         5</td></tr><tr><td><strong>2</strong></td><td>John      </td><td>Doctor Strange</td><td>True</td><td>        80</td></tr></tbody></table>'

In [14]:
df.dtypes

In [15]:
df[['name','movie']]

In [16]:
filt = df['paid']
df[filt]

In [17]:
df[1,2]

In [18]:
df[0, 'cost']

In [19]:
df[[0,1], 'name']

In [20]:
df[:, 'name':'paid']

In [21]:
df['review'] = np.array([4,5,4])
df['comment'] = 'good'

In [22]:
df.tail(1)

In [23]:
df.sum()

In [24]:
df.isna()

In [25]:
df.count()

In [26]:
df.unique()[-1]

In [27]:
df.nunique()

In [28]:
df.value_counts()[-1]

In [29]:
df.rename({'review':'rating'})

In [30]:
df.drop('comment')

In [31]:
df.cumsum()

In [32]:
df.diff(2)

In [33]:
df1 = df[:,2:4]
df1+1

In [34]:
df.sort_values(['paid', 'review'], asc=False)

In [35]:
df.sample(frac=2,seed=1836,replace=True)

In [36]:
colors = np.array(['blue', 'blue', 'blue', 'blue', 'white','white', 'white'])
shapes = np.array(['square','square','square','hex', 'square', 'hex', 'hex'])
sizes= np.array([9, 100, 5, 20, 10, 5, 2])
my_df = liop.DataFrame({'colors':colors, 'shapes':shapes, 'sizes':sizes})
my_df.pivot_table(rows='colors',columns='shapes', values='sizes', aggfunc='sum')

In [48]:
df.str.count('comment', 'good')

In [57]:
# test = liop.read_csv('data/test.csv')

In [59]:
# test.dtypes