# Test

In [58]:
import sys
sys.executable

'/Users/zx/opt/miniconda3/envs/liopard/bin/python'

In [59]:
%load_ext autoreload
%autoreload 2

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [60]:
import numpy as np
import liopard as liop
import pandas as pd

In [61]:
name = np.array(['Tom', 'Jerry', 'John'])
movie = np.array(['Sonic', 'Accountant', 'Doctor Strange'])
paid = np.array([True, False, True])
cost = np.array([20, 5, 80])

data = {'name': name, 'movie': movie, 'paid': paid, 'cost': cost}

df = liop.DataFrame(data)
df_pandas = pd.DataFrame(data)

In [62]:
df

In [63]:
df_pandas

    name           movie   paid  cost
0    Tom           Sonic   True    20
1  Jerry      Accountant  False     5
2   John  Doctor Strange   True    80

In [64]:
#common type errors
# d = np.array([[1,2],[3,4]])
# liop.DataFrame(d)

In [65]:
#length error
# arr1 = np.array([1,2])
# arr2 = np.array([3,4,5])
# d = {'a':arr1, 'b':arr2 }
# liop.DataFrame(d)

In [66]:
len(df)

3

In [67]:
df.columns

['name', 'movie', 'paid', 'cost']

In [68]:
#df.columns = ['a', 'b', 'c', 'd']

In [69]:
df.shape

(3, 4)

In [70]:
df._repr_html_()

'<table><thead><tr><th></th><th>name      </th><th>movie     </th><th>paid      </th><th>cost      </th></tr></thead><tbody><tr><td><strong>0</strong></td><td>Tom       </td><td>Sonic     </td><td>True</td><td>        20</td></tr><tr><td><strong>1</strong></td><td>Jerry     </td><td>Accountant</td><td>False</td><td>         5</td></tr><tr><td><strong>2</strong></td><td>John      </td><td>Doctor Strange</td><td>True</td><td>        80</td></tr></tbody></table>'

In [71]:
df.dtypes

In [72]:
df[['name','movie']]

In [73]:
filt = df['paid']
df[filt]

In [74]:
df[1,2]

In [75]:
df[0, 'cost']

In [76]:
df[[0,1], 'name']

In [77]:
df[:, 'name':'paid']

In [78]:
df['review'] = np.array([4,5,4])
df['comment'] = 'good'

In [79]:
df.tail(1)

In [80]:
df.sum()

In [81]:
df.isna()

In [82]:
df.count()

In [89]:
df.unique()[-1]

In [90]:
df.nunique()